<%- include('../partials/header') %>

<section id="rating">
    <% if (recipe.reviews.length) { %>
        <% let total = 0 %>
        <% recipe.reviews.forEach(function(r) { %>
            <% total += r.rating %>
        <% }); %>
        <div id="stars"><%= (total / recipe.reviews.length).toFixed(1) %>(<%= recipe.reviews.length %>)</div>
    <% } else { %>
        <div class="no-reviews"></div>
    <% }; %>
</section>

<section id="show-page">
    <div>Recipe By: </div>
    <div id="author"><%= recipe.userName %></div>
    <div class="time">
        <div>Prep Time: </div><div><%= recipe.prepTime %></div>
        <div>Cook Time: </div><div><%= recipe.cookTime %></div>
    </div>
    <div>Directions: </div>
    <div class="directions"><%= recipe.content %></div>
</section>

<h3>Reviews</h3>
<section id="reviews">
    <% if (recipe.reviews.length) { %>
        <% recipe.reviews.forEach(function(r){ %>
            <div class="review-content"><%= r.content %></div>
            <div class="review-user">&mdash;<%= r.userName %></div>
        <% }); %>
    <% } else { %>
        <div class="no-reviews">No Reviews Yet</div>
    <% } %>
</section>

<section id="review-form">
    <form method="POST" action="/recipes/<%= recipe._id %>/reviews">     
        <% if (user) { %>
          <label>Review: <textarea name="content"></textarea></label>
          <label>Rating: 
              <select name="rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
          </label>
          <input type="submit" value="Add Review">
        <% } else { %>
            <h5>Log in to write a review</h5>
        <% } %>
    </form>
</section>

<%- include('../partials/footer') %>